baseURL = "https://www.melaton.dev/"
languageCode = "zh-cn"
defaultContentLanguage = "zh"
title = "Melaton's Blog"
theme = "anubis2"
pagination.pagerSize = 10
enableRobotsTXT = true

[params.author]
name = "Melaton"
location = "China"

[params]
description = "Melaton's personal blog"
dateFormat = "2006-01-02"
paginationSinglePost = true
locale = "en-us"

[params.anubis2]
    enablemathglobally = true
    enablecopycodebutton = true
    enablereadmorebutton = true
    hidefooterattribution = false
    colortheme = "auto"
    enablecolorthemeswitcher = true
    enablerssicon = true
    readnextposts = 2
    tocwordcount = 1

    socialicons = [
        { id = "github", url = "https://github.com/HundSimon" },
        { id = "email", url = "mailto:contact@melaton.dev" },
        { id = "telegram", url = "https://t.me/iammelaton" },
    ]

    [params.anubis2.services]
        [params.anubis2.services.giscus]
            # Giscus Comment System https://giscus.app/
            repo        = "HundSimon/blog"
            repoid      = "R_kgDOLhf84g"
            category    = "General"
            categoryid  = "DIC_kwDOLhf84s4CeElY"
            datamapping = "pathname"
            lazyload    = false

[languages.en]
languageName = "English"

[[menu.main]]
identifier = "home"
name = "Home"
url = "/"
weight = 1

[[menu.main]]
identifier = "about"
name = "About"
url = "/about/"
weight = 2

[[menu.main]]
identifier = "tags"
name = "Tags"
url = "/tags/"
weight = 3

[[menu.main]]
name = "Archive"
identifier = "archive"
url = "/posts/"
weight = 4

[languages.zh]
languageName = "Chinese"

[[languages.zh.menu.main]]
identifier = "home"
name = "首页"
url = "/"
weight = 1

[[languages.zh.menu.main]]
identifier = "about"
name = "关于"
url = "/about/"
weight = 2

[[languages.zh.menu.main]]
identifier = "tags"
name = "标签"
url = "/tags/"
weight = 3

[[languages.zh.menu.main]]
identifier = "archive"
name = "归档"
url = "/posts/"
weight = 4

[languages.zh.params]
languageCode = "zh-cn"

[taxonomies]
category = "categories"
tag = "tags"
author = "authors"

[markup]
defaultMarkdownHandler = 'goldmark'

[markup.goldmark.renderer]
unsafe = true # Enable unsafe mode to have a better experience

[markup.highlight]
anchorLineNos      = false
codeFences         = true # tested with true and false. Both work.
noClasses          = true # If you run with markup.highlight.noClasses=false in your site configuration, you need a style sheet.
style              = 'catppuccin-frappe' # Find more style at here: https://swapoff.org/chroma/playground/
tabWidth           = 4
